<h1>Users</h1>
<%= link_to	"Edit My Settings", edit_user_path(current_user), class: "btn btn-default" %>

<% if admin_logged_in? %>
	<%= link_to	"Create New User", new_user_path, class: "btn btn-default" %>
<% end %>

<br>
<br>

<div class="panel panel-default">
	<div class="panel-heading"><strong>Admin</strong></div>
	<table class="table table-hover">
			<th>Name</th>
			<th>Email</th>
			<th>Username</th>
		<% @users.where(:role => [0, 2]).each do |user| %>
			<% if current_user.role == "Top_Admin" %>
				<tr data-link="<%= admin_edit_employee_user_path(user) %>">
			<% else %>
				<tr>
			<% end %>
				<td> <%= user.first_name %> <%= user.last_name %></td>
				<td> <%= user.email %> </td>
				<td> <%= user.username %> </td>
			</tr>
		<% end %>
	</table>
</div>

<div class="panel panel-default">
	<% if admin_logged_in? %>
		<div class="panel-heading"><strong>Employees</strong> (click on row to edit employee settings)</div>
	<% else %>
		<div class="panel-heading"><strong>Employees</strong></div>
	<% end %>
	<table class="table table-hover">
			<th>Name</th>
			<th>Email</th>
			<th>Username</th>
		<% @users.where(:role => 1).each do |user| %>
			<% if admin_logged_in? %>
				<tr data-link="<%= admin_edit_employee_user_path(user) %>">
			<% else %>
				<tr>
			<% end %>
				<td> <%= user.first_name %> <%= user.last_name %></td>
				<td> <%= user.email %> </td>
				<td> <%= user.username %> </td>
			</tr>
		<% end %>
	</table>
</div>

