<ul class="nav nav-tabs">
	<li class="active"> <%= link_to 'Active', active_repairs_path %> </li>
	<li> <%= link_to 'Inactive', inactive_repairs_path%> </li>
</ul>

<br>

<div class="panel panel-success">
	<div class="panel-heading"><strong>Ready for pickup</strong></div>
	<table class="table">
		<tr>
			<td><b>ID</b></td>
			<td><b>Problem</b></td>
			<td><b>Name</b></td>
		</tr>
		<% @repairs.where(:status => 1).each do |repair| %>
			<tr>
				<td> <%= link_to repair.id, repair_path(repair) %>	</td>
				<td> <%= repair.device_problem_description %> </td>
				<td> <%= repair.customer_first_name %> <%= repair.customer_last_name %></td>
			</tr>
		<% end %>
	</table>
</div>

<hr>

<div class="panel panel-danger">
	<div class="panel-heading"><strong>Active</strong></div>
	<table class="table">
		<tr>
			<td><b>ID</b></td>
			<td><b>Problem</b></td>
			<td><b>Name</b></td>
		</tr>
		<% @repairs.where(:status => 0).each do |repair| %>
				<tr>
					<td> <%= link_to repair.id, repair_path(repair) %>	</td>
					<td> <%= repair.device_problem_description %> </td>
					<td> <%= repair.customer_first_name %> <%= repair.customer_last_name %> </td>
				</tr>
			<% end %>
	</table>
</div>

