<ul class="nav nav-tabs">
	<li> <%= link_to 'Active', active_repairs_path %> </li>
	<li class="active"> <%= link_to 'Inactive', inactive_repairs_path%> </li>
</ul>

<br>

<div class="panel panel-info">
	<div class="panel-heading"><strong>Inactive</strong></div>
	<table class="table table-hover">
			<th>ID</th>
			<th>Name</th>
			<th>Date Submitted</th>
			<th>Problem</th>
			<th>Device</th>
		<% @repairs.each do |repair| %>
				<tr data-link="<%= repair_path(repair) %>">
					<td> <%= repair.id %>	</td>
					<td> <%= repair.customer_first_name %> <%= repair.customer_last_name %> </td>
					<td> <%= repair.created_at.strftime("%x %I:%M %p") %> </td>
					<td> <%= if repair.device_problem_description.length < 150
									   repair.device_problem_description
									 else 
									   repair.device_problem_description[0..150] + "..."
									 end %>
					<td> <%= repair.device_description[0..50] %> </td>
				</tr>
			<% end %>
	</table>
</div>

<% javascript_include_tag "repairs_active_inactive" %>