<ul class="nav nav-tabs">
	<li> <%= link_to 'Active', active_repairs_path %> </li>
	<li class="active"> <%= link_to 'Inactive', inactive_repairs_path%> </li>
</ul>

<h3>Inactive Repairs</h3>
<table>
	<br>
	<tr>
		<td><b>ID</b></td>
		<td><b>Problem</b></td>
		<td><b>Name</b></td>
	</tr>
	<% @repairs.each do |repair| %>
		<tr>
			<td style="padding:0 15px 0 0px;" >
				<%= link_to repair.id, repair_path(repair), class: "btn btn-default" %>			
			</td>
			
			<td style="padding:0 15px 0 0px;">
				<%= repair.device_problem_description %> 
			</td>
			<td style="padding:0 15px 0 0px;">
				<%= repair.customer_last_name %> 
			</td>
	
		</tr>

	<% end %>
</table>