<h2>Repair Request Form <%= link_to 'Cancel', root_path, class: "btn btn-warning" %> </h2>

<%= form_for :repair, url: repairs_path do |f| %>
  
  <%= render 'shared/error_messages_repair' %>
  
  <div class="row" >
    <div class="col-xs-12 col-sm-3 col-md-3">
      <%= f.label :customer_first_name, "First Name" %> 
      <br>
      <%= f.text_field :customer_first_name, class: "form-control" %>
    </div>  
    <div class="col-xs-12 col-sm-3 col-md-3">
      <%= f.label :customer_last_name, "Last Name" %>
      <br>
      <%= f.text_field :customer_last_name, class: "form-control" %>
    </div>
      
    <div class="col-xs-12 col-sm-3 col-md-2">
      <%= f.label :customer_id_number, "UCSB Perm/ID #" %>
      <br>
      <%= f.text_field :customer_id_number, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>
        <%= f.label :customer_email, "Email" %>
        <small>(You will be sent updates regarding your repair.)</small>
        <br>
        <%= f.email_field :customer_email, class: "form-control" %>
      </p>  
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <p>
        <%= f.label :customer_phone_number, "Phone Number" %> 
        <small>(Format: 555-555-5555)</small>
        <br>
        <%= f.text_field :customer_phone_number, class: "form-control" %>
      </p>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :device_description, "Device Description" %> 
      <small>(Please be as descriptive as possible.)</small>
      <br>
      <small>(I.e. brand, model, color, screen size, specific stickers, etc.)</small>
      <br>
      <small>(Ex: Apple Retina Macbook Pro, 13" screen. Blue UCSB sticker on top.)</small>
      <br>
      <%= f.text_area :device_description, class: "form-control", rows: 3 %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= f.label :device_password, "Device Password" %>
      <br>
      <small>(Leave blank if there is no password.)</small>
      <br>
      <%= f.password_field :device_password, class: "form-control" %>
      
      <br>

      <%= f.label :device_password_confirmation, "Confirm Device Password" %>
      <%= f.password_field :device_password_confirmation, class: "form-control" %>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :device_serial_number, "Device Serial Number" %>
      <br>
      <%= f.text_field :device_serial_number, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.label :accessories_description, "Accessories" %>
      <small>(Ex: Apple charger, black carrying case, Samsung external hard drive, 16 GB USB, etc.)</small>
      <br>
      <%= f.text_area :accessories_description, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= f.label :device_problem_description, "Problem(s) Description" %>
      <small>(Please be as detailed as possible)</small>
      <br>
      <small>(Ex: problematic symptoms, how to recreate the problem(s), possible damage to the device, what needs to be fixed, etc.)</small>
      <br>
      <%= f.text_area :device_problem_description, class: "form-control", rows: 4 %>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-xs-10 col-sm-6 col-md-8">
      By pressing "Submit Repair Request" I hereby acknowledge the release of my machine to the UCSB Bookstore, and that the UCSB Bookstore is not liable for data loss when servicing my machine. I have been informed to back up data before submitting my machine.
    </div>
  </div>
  
  <br>

  <p>
    <%= f.submit "Submit Repair Request", class: "btn btn-success"%>
  </p>
 

<% end %>