<h2>Repair Request Form</h2>

<p>
  <%= link_to 'Cancel', repairs_path, class: "btn btn-warning" %>
</p>

<%= form_for :repair, url: repairs_path do |f| %>
  
  <%= render 'shared/error_messages_repair' %>

  <p class="form-inline">
    <%= f.label :customer_first_name, "First Name" %> 
    <%= f.text_field :customer_first_name, :size=>"20" %>
  
    <%= f.label :customer_last_name, "Last Name" %>
    <%= f.text_field :customer_last_name, :size=>"20", class: "form_inline" %>

    <%= f.label :customer_id_number, "UCSB Perm/ID #" %>
    <%= f.text_field :customer_id_number, :size=>"7" %>
  </p>

  <p>
    
  </p>

  <p>
    <%= f.label :customer_email, "Email" %>
    <small>(You will be sent updates regarding your repair so check your email regularly.)</small>
    <br>
    <%= f.email_field :customer_email, :size=>"50" %>
  </p>  

  <p>
    <%= f.label :customer_phone_number, "Phone Number" %> 
    <small>(Format: 555-555-5555)</small>
    <br>
    <%= f.text_field :customer_phone_number, :size=>"14" %>
  </p>

  <p>
    <%= f.label :device_description, "Device Description" %> 
    <small>(Please be as descriptive as possible.)</small>
    <br>
    <small>(I.e. brand, model, color, screen size, specific stickers, etc.)</small>
    <br>
    <small>(Ex: Apple Retina Macbook Pro, 13" screen. Blue UCSB sticker on top.)</small>
    <br>
    <%= f.text_area :device_description, :cols=> "70", :rows=>"3"  %>
  </p>
  
  <p>
    <%= f.label :device_password, "Device Password" %>
    <small>(Leave blank if there is no password.)</small>
    <br>
    <%= f.text_field :device_password, :size=>"20" %>
  </p>

  <p>
    <%= f.label :device_serial_number, "Device Serial Number" %>
    <br>
    <%= f.text_field :device_serial_number, :size=>"20" %>
  </p>

  <p>
    <%= f.label :accessories_description, "Accessories" %>
    <br>
    <small>(Ex: Apple charger, black carrying case, Samsung external hard drive, 16 GB USB, etc.)</small>
    <br>
    <%= f.text_area :accessories_description, :size=>"40" %>
  </p>

  <p>
    <%= f.label :device_problem_description, "Problem(s) Description" %>
    <small>(Please be as detailed as possible)</small>
    <br>
    <small>(Ex: problematic symptoms, how to recreate the problem(s), possible damage to the device, what needs to be fixed, etc.)</small>
    <br>
    <%= f.text_area :device_problem_description, :cols=>"75", :rows=>"15" %>
  </p>
  
  <p>
    By submitting the repair request form I acknowledge that there is no guarantee that my device will be fixed.
    <br><br>
    Updates regarding the repair will be emailed to you and you will be notified before repairs are made what the estimated costs will be.
    <br>
    You are free to cancel the repair request at any time before repairs are made by emailing ___________ or calling _____________. 
  </p>

  <p>
    <%= f.submit "Submit Repair Request", class: "btn btn-success"%>
  </p>
  <br>
  <br>


<% end %>