<h3>Repair Id: <%= @repair.id %></h3>
<p> <%= link_to 'Update Repair Info', edit_repair_path(@repair) %> <p>


<%= render 'repair_info' %>

<hr>

<h4>Repair Description</h4>
<p> <%= @repair.repair_description %> </p>

<p>
	<b>Fees</b>
	<br>Services: <%= number_to_currency(@repair.services_fee) %>
	<br>Parts: <%= number_to_currency(@repair.parts_fee) %>
</p>

<p>
	Repair Status: <%= @repair.status %>
</p>

<% if @repair.status == 'active' %> 
	<%= link_to 'Ready for pickup', change_status_repair_path(@repair, state: 'ready_for_pickup'), method: :put %>
	<br>
	<%= link_to 'Computer was picked up', change_status_repair_path(@repair, state: 'inactive'), method: :put %>
<% elsif @repair.status == 'ready_for_pickup' %>
	<%= link_to 'Make Active Again', change_status_repair_path(@repair, :state => 'active'), method: :put %>
	<br>
	<%= link_to 'Computer was picked up', change_status_repair_path(@repair, :state => 'inactive'), method: :put %>
<% else %>
	<%= link_to 'Make Active Again', change_status_repair_path(@repair, :state => 'active'), method: :put %>
	<br>
	<%= link_to 'Change to "Ready for Pickup"', change_status_repair_path(@repair, :state => 'ready_for_pickup'), method: :put %>
<% end %>