<% if @repair.status == 'active' %>
	<% state = 0 %>
<% elsif @repair.status == 'ready_for_pickup' %>
	<% state = 1 %>
<% else %>
	<% state = 2 %>
<% end %>

<% if state == 0 or state == 1 %>
	<ul class="nav nav-tabs">
		<li class="active"> <%= link_to 'Active', active_repairs_path %> </li>
		<li> <%= link_to 'Inactive', inactive_repairs_path%> </li>
	</ul>
<% else %>
	<ul class="nav nav-tabs">
		<li> <%= link_to 'Active', active_repairs_path %> </li>
		<li class="active"> <%= link_to 'Inactive', inactive_repairs_path%> </li>
	</ul>
<% end %>

<br>
<br>

<% if state == 0 %>
	<div class="panel panel-danger">
	<div class="panel-heading"> 
		<h4>
			Repair ID: <%= @repair.id %> Active 
		</h4>
	</div>
	</div>	
<% elsif state == 1 %>
	<div class="panel panel-success">
	<div class="panel-heading"> 
		<h4>
			Repair ID: <%= @repair.id %> Ready for Pickup
		</h4> 
	</div>
	</div>
<% else %>
	<div class="panel panel-info">
	<div class="panel-heading"> 
		<h4>
			Repair ID: <%= @repair.id %> Inactive
		</h4> 
	</div>
	</div>
<% end %>	  


<% if state == 0 %> 
	<%= link_to 'Ready for pickup', change_status_repair_path(@repair, state: 'ready_for_pickup'), method: :put, class: "btn btn-success", 
																	data: {confirm: 'Ensure that the repair description and fees are correct.'} %>
	<%= link_to 'Computer was picked up', change_status_repair_path(@repair, state: 'inactive'), method: :put, class: "btn btn-info",
																				data: {confirm: 'Ensure that all accessories were also picked up.'} %>
<% elsif state == 1 %>
	<%= link_to 'Computer was picked up', change_status_repair_path(@repair, :state => 'inactive'), method: :put, class: "btn btn-info",
																	  		data: {confirm: 'Ensure that all accessories were also picked up.'} %>
	<%= link_to 'Make Active Again', change_status_repair_path(@repair, :state => 'active'), method: :put, class: "btn btn-danger pull-right" %>
<% elsif %>
	<%= link_to 'Change to "Ready for Pickup"', change_status_repair_path(@repair, :state => 'ready_for_pickup'), method: :put, class: "btn btn-success" %>
	<%= link_to 'Make Active Again', change_status_repair_path(@repair, :state => 'active'), method: :put, class: "btn btn-danger pull-right" %>
	
<% end %>

<hr>

<%= render 'repair_info' %>

<hr>

<p> <%= link_to 'Update Repair Info', edit_repair_path(@repair), class: "btn btn-primary" %> <p>

<h4>Repair Description</h4>
<p> <%= simple_format(@repair.repair_description) %> </p>

<p>
	<b>Fees</b>
	<br>Services: <%= number_to_currency(@repair.services_fee) %>
	<br>Parts: <%= number_to_currency(@repair.parts_fee) %>
</p>

<br>
<br>
<br>
<br>