<!DOCTYPE html>
<html>
<head>
  <title>UCSB Computer Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h2>
	<%= link_to 'Home', root_path %>
	<%= link_to 'Repairs', repairs_path %>
	<%= link_to 'New Repair', new_repair_path %>
</h2>
<body>

<%= yield %>

</body>
</html>
