<!DOCTYPE html>
<html>
<head>
  <title>UCSB Computer Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<div id="Application_main_container" class="container-fluid">
	<h3>
		<ul class="nav nav-pills nav-justified">
			<li> <%= link_to 'Home', root_path %> </li>
			<li> <%= link_to 'Repairs', repairs_path %> </li>
			<li> <%= link_to 'New Repair', new_repair_path %> </li>
		</ul>
	</h3>
	<hr>

	<body>

	<%= yield %>

	</body>

	<br>
	<br>
	<br>
	<br>

</div>
</html>
