<!DOCTYPE html>
<html>
<head>
  <title>UCSB Computer Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div id="Application_main_container" class="container">
	<h3>
		<ul class="nav nav-pills">
			<li> <%= link_to 'Home', root_path %> </li>
			<li> <%= link_to 'Repairs', repairs_path %> </li>
			<li> <%= link_to 'New Repair', new_repair_path %> </li>
		</ul>
	</h3>
	<hr>

	<body>

	<%= yield %>

	</body>
</div>
</html>
